.details {
    display: flex;
    justify-content: space-evenly;
    
}

.list_ships {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}
.list_haulers {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}
.list_docks {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}
